body {
    /*background: #ededef;*/
    background: #fff;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    padding: 0px;
    color: #444;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}
