#dataavi {
    margin: 0px auto;
    padding: 0px;
    position: relative;
    width: 100%;
}
a {
    color: #444;
}
#single_chart_info {
    height: 400px;
    width: 100%;
}

#gride_info table {
    margin: 20px 0px;
    padding:0px;
}

#gride_info td {
    width: 160px;
    height: 50px;
    text-align: center;
}
table {
    border-collapse: collapse;

}
tfoot tr td {
    font-size: 24px;
    cursor: pointer;
}

tbody > tr {
    border-bottom: 1px solid #eee;
}
#single_chart {
    border-top: 1px dashed #dddddd;
    color: #444;
}

#single_chart input {
    position: relative;
    display: inline-block;
    height: 10px;
    padding: 1px;
    border: #c3c3c3 1px solid;
    width: 150px;
    color: #999;
    font-size: 12px;
    height: 20px;
}


#search_by_name_button {
    height: 20px;
    border: 0px ;
    color: #878787;
    height: 24px;
    padding: 1px;
    cursor:pointer;
}

.single_and_compare {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

#single_chart_info_title {
    margin: 8px 0px;
    background: #ff8800;
    color: #fff;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    padding: 5px
}

.order-by {
    cursor: pointer;
}